@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* pag principal */
body {
    background-image: linear-gradient(0deg, #00cccc 10%, #2AF598 100%);
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

#menu {
    background: white;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#menu .menu {
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    list-style: none;
}

#menu nav.menu li{
   margin: 0;
   padding: 0;
   margin-right: 4rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

#menu nav.menu li a {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*sub pastas*/
#menu ul {
    list-style: none;
    width: 18rem;
    padding-top: 1rem;
    display: none;
}

#menu li:hover > ul {
    display: block;
}

#menu ul a {
    color: black;
    text-decoration: none;
    background: #2AF598;
    border-radius: 25px;
}

#menu ul a:hover {
    background: #32da8e;
}

#menu li {
    margin-left: 3rem;
}

#menu li a {
    color: black;
    text-decoration: none;
    background: #2AF598;
    border-radius: 20px;
    padding: 0.5rem;
}

#menu li a:hover {
    background: #32da8e;
}

#menu li:first-child {
    width: 5rem;
}

#menu li:last-child {
    width: 10rem;
}

.imagemquimico {
	background-image: url(https://iili.io/5JziGV.md.png);
	background-repeat: no-repeat;
	width: 32rem;
    padding-right: 2rem;
	
}

.decantacao {
	margin-top: 10px;
	background-image: url(https://iili.io/5Jhzmb.md.png);
	height: 246px;
	width: 581px;
	background-repeat: no-repeat;
}

.decantacaoo {
	background-image: url(https://iili.io/5JgKgf.png);
	height: 418px;
	width: 333px;
	background-repeat: no-repeat;
}

.cafe {
	margin-top: 10px;
	background-image: url(https://iili.io/5JPVZN.jpg);
	height: 418px;
	width: 300px;
	background-repeat: no-repeat;
}

.aspirador {
	margin-top: 10px;
	background-image: url(https://iili.io/5JPrnS.png);
	height: 254px;
	width: 198px;
	background-repeat: no-repeat;
}

.garimpo {
	margin-top: 20px;
	background-image: url(https://iili.io/5JsWrX.md.png);
	height: 396px;
	width: 800px;
	background-repeat: no-repeat;
}

.grao {
	margin-top: 20px;
	background-image: url(https://iili.io/5dJjYQ.md.jpg);
	height: 396px;
	width: 800px;
	background-repeat: no-repeat;
}

.areia {
	margin-top: 20px;
	background-image: url(https://iili.io/5dJg6J.md.jpg);
	height: 396px;
	width: 800px;
	background-repeat: no-repeat;
}

.sangue {
	margin-top: 20px;
	background-image: url(https://iili.io/5dJiyN.md.jpg);
	height: 396px;
	width: 800px;
	background-repeat: no-repeat;
}

#content {
	min-height: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    margin-top: 3rem;
    padding: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.text h3{
    width: 50rem;
	margin-right: 2rem;
    margin-top: 1.5rem;
    font-weight: 400;
}

img{
    width: 32rem;
    padding-right: 2rem;
}

#footer {
    background: white;
    border-radius: 25px;
    margin-top: 3rem;
    padding: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
}

h4 {
    text-align: center;
    font-weight: 500;
    width: 590rem;
}

h5 img{
   width: 2rem; 
   background: #00cccc;
   border-radius: 95px;
   padding: 0.5rem;
}

h5 img:hover {
    background: #06b3b3;
}

h5 {
    float: right;
    width: 20rem;
}

@media screen and (min-width:220px) and (max-width:568px){
	body, div
#footer{ margin-left:0px;}
}
@media screen and (min-width:569px) and (max-width:767px){
	body, div
#footer { margin-left:0px;}
}

@media screen and (min-width:768px) and (max-width:1024px) {
	body, div
#footer { margin-left:0px;}

}

